EXPO_PUBLIC_BASE_URL=https://api.foodhousetesting.xyz/
EXPO_PUBLIC_FIREBASE_CONFIG='{
  apiKey: "",
  authDomain: "",
  projectId: "",
  storageBucket: "",
  messagingSenderId: "",
  appId: "",
  measurementId: "",
}'
EXPO_PUBLIC_PHONE_NUMBER=+237691477330
EXPO_PUBLIC_WEBSITE_URL=https://myfoodhouse.com
EXPO_PUBLIC_EMAIL=support@foodhouse.com